@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./Fonts/Righteous/Righteous-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: rgb(191, 170, 144);
}

.navigation ul {
  list-style-type: none;
  margin-right: 30px;
  margin-top: 12px;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: rgb(1, 93, 93);
}

h1 {
  text-align: center;
}

.bookStorage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  border: solid 2px #272a31;
  border-radius: 2px;
  padding: 1%;
}

button {
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  width: 120px;
  padding: 10px;
  color: black;
  margin-left: 17%;
}

#btn:active,
button:active {
  color: #d3d3d3;
  background-color: #ec5242;
  box-shadow: 0 2px #272a31;
  transform: translateY(5px);
}

#contact ul {
  margin-left: 35%;
}
